doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='description' content='')
      meta(name='author' content='')

      //Main CSS
      link(rel='stylesheet' href='/golden/style.css')

      //Favicon 
      link(rel='shortcut icon' type='image/png' href='/golden/img/favicon.png')

      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

      //Bootstrap Core CSS
      link(href='/golden/css/bootstrap.min.css' rel='stylesheet')

      //Animate CSS 
      link(href='/golden/css/animate.css' rel='stylesheet')

      //Venobox CSS 
      link(href='/golden/css/venobox.css' rel='stylesheet')
    
      //Font-awesome 
      link(rel='stylesheet' href='/golden/fonts/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet' href='/golden/fonts/fontawesome-free-5.15.2-web/css/all.min.css')

      // flaticon  
      link(rel='stylesheet' href='/golden/fonts/flaticon/css/flaticon.css')

      //Google font
      link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900' rel='stylesheet')
  

      title Golden | #{title}
  
  body
    // HEADER
    include _header
        
    // CONTENT
    block content
      h1 This is a placeholder heading
      
    // FOOTER
    include _footer
    
    //- Bact to top
    .back-top
      a(href='#')
        i.fa.fa-angle-up
      
    //- Golden jQuery
    script(src='/golden/js/jquery-3.3.1.min.js')
    script(src='/golden/js/popper.min.js')
    script(src='/golden/js/bootstrap.min.js')
    script(src='/golden/js/jquery.easing.min.js')
    script(src='/golden/js/wow.js')
    script(src='/golden/js/venobox.min.js')
    script(src='/golden/js/SmoothScroll.js')
    script(src='/golden/js/jquery.filterizr.min.js')
    script(src='/golden/js/sticky-kit.min.js')
    script(src='/golden/mail/js/form-validator.min.js')
    script(src='/golden/mail/js/contact-form-script.js')
    script(src='/golden/js/script.js')
    //- End Golden jQuery